.project{
    background-color:rgb(255, 255, 255);
    margin-bottom: 25px;
    border-radius: 12px;
    border: 2px solid black;
    position:relative;
    height:initial;
}

.project img{
    border-radius: inherit;
    height: inherit;
}
 
.overlay{
    position: absolute;
    height:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    overflow:hidden;
    transition:.5s ease;
    background-color:rgba(137, 137, 137, 0.85);
    border-radius: inherit;
}

.overlay div{
    margin: 2px;
}

.projectOne:hover .overlayOne, .projectTwo:hover .overlayTwo, .projectThree:hover .overlayThree, .projectFour:hover .overlayFour{
    height:100%;
}

.descrip{
    font-weight:500;
    font-size:18px;
}